<div class="card" style="width: 80%" [formGroup]="editForm">
  <h1>Edycja profilu</h1>
  <div class="card-body1">
    <div class="input-group sm-4">
      <input
        class="form-control border border-dark"
        type="text"
        id="username"
        formControlName="username"
        placeholder="Nazwa"
        aria-label="Sizing example input"
        aria-describedby="inputGroup-sizing-default">
      <button (click)=changeUsername() id="changeUsername" class="btn btn-light">
        <span>Zmień nazwę</span>
      </button>
    </div>
  </div>

  <div class="card-body2">
    <div class="input-group sm-4">
      <input
        class="form-control border border-dark"
        type="password"
        formControlName="password"
        placeholder="Hasło"
        aria-label="Sizing example input"
        aria-describedby="inputGroup-sizing-default">
      <button (click)=changePassword() id="changePassword" class="btn btn-light">
        <span>Zmień hasło</span>
      </button>
    </div>
  </div>

	<div class="card-body3">
		<button (click)=deleteAccount() id="deleteButton" class="btn btn-outline-dark">
			<span>Usuń konto</span>
		</button>
	</div>
</div>
