<form style="height: 100%;" [formGroup]="loginForm" (ngSubmit)="login()">
  <div class="d-flex align-items-center justify-content-center flex-column" style="height: 80%;">
    <h1>Zaloguj się</h1><br>

    <div class="input-group col-sm-4">
      <input
        class="form-control border border-dark"
        type="text"
        id="username"
        formControlName="username"
        placeholder="Nazwa"
        aria-label="Sizing example input"
        aria-describedby="inputGroup-sizing-default">
    </div>

    <div class="input-group col-sm-4">
      <input
        class="form-control border border-dark"
        type="password"
        formControlName="password"
        placeholder="Hasło"
        aria-label="Sizing example input"
        aria-describedby="inputGroup-sizing-default">
    </div>

    <div>
      <button
        class="btn btn-outline-dark"
        type="submit"
        [disabled]="!loginForm.valid">Zaloguj się</button>
    </div>

  </div>
</form>

