.input-group {
  max-height: 50px;
}

@media (max-width: 400px){
  .input-group{
    margin-bottom: 16px;
  }

}

.przyciski
{
  width: 100%; 
  text-align: center;
}

/*.przyciskiNav
{
  width: 100%; 
  text-align: center; 
  margin-bottom: 10px;
}*/

.lewo, .prawo
{
  background-color: #f2f2f2;
  border: solid;
  display: inline-block;
  width: 45px;
  height: 30px;
}

/*.przyciskiZoom
{
  width: 100%; 
  text-align: center;
}*/

.smaller, .bigger
{
  background-color: #f2f2f2;
  border: solid;
  display: inline-block;
  font-size: 100%;
  font-weight: bold;
  width: 45px;
  height: 30px;
}

.lewo:hover, .prawo:hover, .smaller:hover, .bigger:hover
{
  background-color: #bfbfbf;
}

#left, #right
{
  width: 25px;
  height: 20px;
}

.card{
	margin-top: 100px;
	margin-left: 10%;
	margin-right: 10%;
	border: none;
}

#goExercises:hover
{
	background-color: black;
	color: white;
}
