.input-group {
  max-height: 50px;
}

@media (max-width: 400px){
  .input-group{
    margin-bottom: 16px;
  }

}

h2{
    display: inline-block;
    float: left;
	margin-right: 9%;
}

.card{
	margin-top: 100px;
	margin-left: 10%;
	margin-right: 10%;
	border: none;
}

button{
	margin-right: 3%;
	margin-left: 3%;
	margin-bottom: 5%;
	width: 44%;
	height: 100px;
	float: left;
	font-size: 140%;
}

button:hover{
	border: 1px solid black;
	box-shadow: 1px 1px 1px 1px;
}

#question1
{
	width: 94%;
	margin-left: 3%;
	margin-bottom: 5%;
	height: 150px;
	pointer-events: none;
	font-size: 140%;
	padding-top: 30px;
}

#question2
{
	width: 94%;
	margin-left: 3%;
	margin-bottom: 5%;
	height: 100px;
	pointer-events: none;
	font-size: 140%;
	padding-top: 30px;
}

#buttonPos, #buttonNeu, #buttonNeg
{
	margin-right: 1%;
	margin-left: 1%;
	margin-bottom: 5%;
	font-size: 100%;
	width: 70px;
	height: 50px;
	/*float: right;*/
}

/*#buttonPos:hover, #buttonNeu:hover, #buttonNeg:hover
{
}*/

#opPos, #opNeu, #opNeg
{
	height: 100%;
	width: 100%;
}

/*.navigation1
{
	width: 100px;
	height: 50px;
	margin: auto;
	margin-bottom: 10px;
}

#right
{
  	width: 25px;
  	height: 20px;
}*/

.sendButton
{
	width: 100px;
	height: 50px;
	margin: auto;
	margin-bottom: 10px;
}

#imageQuestion
{
	height: 100%;
	width: 100px;
	padding-bottom: 20px;
}
