<div class="container">
	<div *ngFor="let lesson of lesson_list; index as i">
		<div class="card" style="width: 31.3%">
			<div class="card-body">
				<h5 class="card-title">Lekcja {{i+1}}</h5>
				<h6 class="card-subtitle mb-2 text-muted">{{lesson.name}}</h6>
				<a id="buttonT" (click)=goElsewhere(lesson.id) routerLink="/lesson-view" class="btn btn-dark">Teoria</a>
				<!--<img src="././assets/images/{{lesson.rateT}}.png" alt="img" id="IMG">-->
				<a id="buttonE" (click)=goElsewhere(lesson.id) (click)=checkExercise(lesson.name) class="btn btn-dark">Ćwiczenia</a>
				<!--<img src="././assets/images/{{lesson.rateE}}.png" alt="img" id="IMG"> routerLink="/exercises"-->
			</div>
		</div>
	</div>
</div>